$button: #303f9f;
$blue: #3f51b5;
$headerSocials: rgba(255, 255, 255, 0.38);
$headerUsers: rgba(255, 255, 255, 0.54);
$date: rgba(255, 255, 255, 0.54);
$comments: rgba(255, 255, 255, 0.7);
$sort: rgba(255, 255, 255, 0.87);
$text: rgba(0, 0, 0, 0.87);
$placeholder: rgba(0, 0, 0, 0.38);
$newsLetter: rgba(255, 255, 255, 0.54);
$grey: #bebebf;
$date: #a5a5a5;

