:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  color:       $text;
  color:       white;
  @include montserratRegular;
  font-size:   14px;
  line-height: 1.2;
  margin:      0;
  padding:     0;
}