.filters {
  box-shadow:     0 1px 0 0 #dddddd;
  @include montserratBold;
  font-size:      12px;
  text-transform: uppercase;
}

.filters__wrapper {
  max-width:      1170px;
  margin:         0 auto;
  display:        flex;
  padding-top:    15px;
  padding-bottom: 15px;
  align-items:    center;
}

.filters__filter-list {
  margin-left: 20px;
}

@include bTablet{
  .filters {
    padding-right: 15px;
    padding-left:  15px;
  }
}

@include bMobile {
  .filters__wrapper {
    font-size:      0;
    padding-top:    10px;
    padding-bottom: 10px;
    position:       relative;
  }
}