.page-header {
  background: #a5a5a5;
}

.page-header__tools-wrapper {
  width:           50%;
  display:         flex;
  justify-content: flex-end;

}

@include bMobile {
  .page-header__tools-wrapper {
    width:           100%;
    justify-content: space-between;
  }
}
