.post-preview {
  text-align: center;
  position:   relative;

}

.post-preview__post-type {
  @include montserratRegular;
  font-size:      20px;
  text-transform: uppercase;
  color:          $comments;
  margin-bottom:  15px;
}

.post-preview__title {
  @include montserratBlack;
  font-size:      42px;
  text-transform: uppercase;
  margin-bottom:  35px;
}

.post-preview__button {
  margin-bottom: 80px;
}

.post-preview__author-link {
  text-decoration: none;
  @include montserratBold
  font-size:       14px;
  color:           white;
  display:         block;
  margin-bottom:   5px;
}

.post-preview__avatar {
  margin-bottom: 15px;
}

.post-preview__date {
  font-size: 12px;
  @include montserratRegular;
  color:     $headerUsers;
}

.post-preview__info {
  margin-bottom: 30px;
}

.post-preview__time {
  margin-left: 5px;
}

.post-preview__comments,
.post-preview__likes {
  text-decoration: none;
  color:           $comments;
  font-size:       12px;
  @include montserratRegular;
  transition:      color .3s;

  &:hover {
    color: white;
  }

  &:hover .post-preview__icon {
    fill: white;
  }
}

.post-preview__likes {
  margin-left: 15px;
}

.post-preview__icon {
  fill:       $comments;
  transition: fill .3s;

}
