.shop-list {
  display: flex;
}

.main-nav__shop-list {
  margin-left: auto;
}

.shop-list__item a {
  padding-top:    28px;
  padding-bottom: 25px;
  display:        block;
  padding-left:   15px;
  padding-right:  15px;
  position:       relative;

  &::after {
    content:          '';
    position:         absolute;
    display:          block;
    width:            1px;
    height:           30px;
    right:            0;
    top:              calc(50% - 15px);
    background-color: rgba(255, 255, 255, 0.38);
  }

}

.show-list__icon {
  fill: white;
}

.shop-list__item:last-child a::after {
  display: none;
}

@include bTablet {
  .shop-list__item:nth-child(2) {
    display: none;
  }

  .shop-list {
    display: none;
  }
}

@include bMobile {
  .main-nav__shop-list {
    margin: 0;
  }
  .shop-list__item:not(:last-child) {
    //display: none;
  }

  .show-list__icon {
    width:  20px;
    height: 20px;
  }

  .shop-list__item a {
    padding: 0;
  }
}


